
<p><a href="#!/">Back to Search</a></p>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4> {{days}}-day Forecast for {{city}} </h4>
<hr/>
Days:
	<a href="#!/forecast/1">1 day</a> |
	<a href="#!/forecast/2">2 day</a> |
	<a href="#!/forecast/3">3 day</a> |
	<a href="#!/forecast/4">4 day</a> |
	<a href="#!/forecast/5">5 day</a> |
	<a href="#!/forecast/6">6 day</a> |
	<a href="#!/forecast/7">7 day</a> |
<hr/>
		<div ng-repeat="w in weatherResult.list">
			<div class="row">
				<div class="col-md-12">
				<weather-report weather-day="w" convert-to-standard="convertToFahrenheit(temp)" convert-to-date="convertToDate(dt)" date-format="MMMM d, y"></weather-report>	

				</div>
			</div>
		</div>


	</div>
</div>

